@import "../../mixins.scss";

.create-recipe {
	width: 100%;
	background-color: white;
	overflow-y: auto;
	padding: 48px {
		top: 24px;
	}
}

.top-actions {
	display: flex;
}

.back-button {
	justify-self: flex-start;
}

.horizontal-filler {
	flex: 1 1 auto;
}

// .recipe-form {
// 	display: flex;
// 	flex-flow: column nowrap;
// 	justify-content: space-between;
// }

.recipe-form-field {
	margin-top: 16px;
}

.two-fields {
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	justify-items: flex-start;
	width: 100%;
}

.recipe-name-form {
	flex: 1 1 200px;
	max-width: 300px;
	margin-right: 16px;
}

.recipe-minutes-form {
	flex: 1 1 100px;
	max-width: 200px;
}

.chip-list {
	margin-bottom: 12px;
}

.chip {
	display: inline-flex;
	align-items: center;
	background-color: #e0e0e0;
	border-radius: 24px;
	padding: 7px 12px;
	box-sizing: border-box;
	margin: 4px;
	max-width: 100%;
	overflow: hidden;
	span {
		max-width: calc(100% - 20px);
		font-weight: 500;
		font-size: 14px;
		font-family: "Roboto";
		color: rgba(0, 0, 0, 0.87);
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.chip-icon {
	margin-left: 8px;
	cursor: pointer;
	color: rgba(0, 0, 0, 0.87);
	@include user-select(none);
	opacity: 0.4;
	&:hover {
		opacity: 0.54;
	}
}

.submit-button {
	margin-top: 16px;
	margin-bottom: 16px;
}
