.tab {
	background: darken($color: white, $amount: 5%);
	&.mdc-tab--active {
		background: white;
	}
	border-top: {
		left-radius: 8px;
		right-radius: 8px;
	}
	.mdc-tab__ripple {
		border-top: {
			left-radius: 8px;
			right-radius: 8px;
		}
	}
}

.tabs, .mdc-tab-bar, .mdc-tab-scroller {
	max-height: 48px;
	min-height: 48px;
}
