.recipe {
	margin-bottom: 32px;
	padding: 16px;
	background-color: rgb(162, 191, 202);
	border-radius: 4px;
}

.recipe-title {
	margin-bottom: 8px;
	text-transform: capitalize;
	color: rgb(41, 49, 53);
}

.recipe-minutes {
}
