h1,
h2,
h3,
h4,
h5,
h6,
.headline {
	font-family: "Montserrat";
}

.headline {
	font-weight: 500;
}

*,
span.mdc-typography--subtitle1,
span.mdc-typography--body1,
span.mdc-list-item__primary-text,
span.mdc-list-item__secondary-text {
	font-family: "Raleway";
}

a {
	text-decoration: none;
	color: unset;
	border: none;
	outline: none;
}

ul,
ol {
	list-style-position: inside;
}
